.THIS .spinnerContainer {
	position:relative;
	height:300px;
	border:1px solid #666;
	overflow:auto;
	background-color:#eee
}
 
.THIS .spinnerClass {
	position:absolute;
}

.THIS .panelContainer {
	max-width: 321px;
	float:right
}